.aboutDescription {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}
.aboutMe {
  background: $primary;
}
.personalImg {
  grid-column: 1/2;
  grid-row: 1/4;
  margin-right: 1rem;
}

  .aboutDescription h3{
    padding-bottom: 1rem;
    color: $secondary;
    text-align: left;
    font-size: 3rem;
    font-weight: 700;
    align-self: end;
  }
  .aboutDescription h5 {
    color: $secondary;
    font-weight: 500;
  }
.shortIntro {
  line-height: 1.8;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  align-self: center;
}
.text {
  font-size: 1rem;
  line-height: 2;
  text-align: left;
  p {
    padding-bottom: 1rem;
  }

}

