.portfolio {
  height: auto;
  h3{
    color: $secondary;
  }
}
.portfolioContainer {
  display: flex;
  flex-wrap: wrap;
}
.portfolioItem {
  margin-bottom: 6rem;
  width: 100%;
}
.third {
  width: 40%;
}
.twoThird {
  width: 60%;
}
ul.skills {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  line-height: 1.5;
  li {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  }
}
.portfolioImg {
  position: relative;
  &:hover .overlay,
  &:active .overlay{
    opacity: 0.5;
  }
}

.innerWrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.title {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: $secondary;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 35px;
  text-align: right;
  p {
    font-size: 1.1rem;
    line-height: 2;
    color: #6b6b6b;
  }
}
.portfolioImg,
.overlay,
.live,
.gHView {
  transition: all 0.5s;
}
.link {
  display: flex;
  justify-content: flex-end;
}
.live,
.gHView {
  margin-left: 15px;
  letter-spacing: 1px;
  background: $secondary;
  color: $fontColor;
  padding: 15px 10px;
  font-size: 1.2rem;
  opacity: 1;
  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
